@use 'styles/abstracts' as *;
@use 'styles/atoms';
@use 'styles/molecules';
@use 'styles/organisms';
@use 'styles/pages';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 32px;
  font-family: $font-family-primary;
  color: $primary-main-color;
}

body {
  max-width: 1232px;
  padding: 0 32px;
  margin: 0 auto;
}
