/* avatar */
.avatar-md {
  height: 112px;
  margin-bottom: 8px;
}

.avatar-sm img {
  width: 32px;
  margin: 8px 4px;
}

/* button */
button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  font-weight: 600;
}

button:active {
  font-weight: 600;
}

button:disabled {
  color: #8e8e8e;
}

.button-positive {
  background-color: #ecffe6;
}

.button-neutral {
  background-color: #e5f4ff;
}

.button-negative {
  background-color: #fcf2ff;
}

/* divider */
hr {
  border: 1px solid #f5f5f5;
  margin-bottom: 96px;
}

/* input field */
.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* input label */
label {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  text-align: left;
}

/* input type */
input {
  width: 124px;
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}

input[type=number] {
  text-align: right;
}

input[type=number]:disabled {
  color: #8e8e8e;
}

input[type=text]:disabled {
  color: #8e8e8e;
}

/* list */
ul,
ol {
  padding-left: 32px;
  margin: 0;
}

/* logo */
.logo {
  height: 24px;
  margin: 4px;
}

/* tag */
.tag {
  font-size: 0.4375rem;
  font-weight: 400;
  padding: 8px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  margin: 0 12px 12px 0;
}

/* typography */
h1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h3 {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-bottom: 16px;
}

h5 {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
  font-style: italic;
  margin-bottom: 16px;
}

p {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
  margin-bottom: 16px;
}

li {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
}

a {
  font-size: 0.5rem;
  font-weight: 500;
  color: #202020;
  text-decoration: none;
}

a:hover {
  color: #ff6584;
}

a:active {
  color: #c72F58;
}

/* underline */
.underline {
  width: 32px;
  border: 2px solid #c72F58;
  margin: 8px 0 16px;
}

/* buttons */
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

/* header */
.title {
  border-left: 4px solid #c72F58;
  padding-left: 16px;
  margin-bottom: 64px;
}

.title h2 {
  line-height: 0.75rem;
}

/* input fields */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 196px;
  margin-bottom: 16px;
}

/* logos */
.logos {
  padding: 8px 0;
}

/* tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* animations */
/* atom */
.atom {
  background-color: #ffffff;
  width: 264px;
  height: 236px;
  margin-bottom: 16px;
}

.nucleus {
  fill: #ff6584;
}

.electron-one-path, .electron-two-path {
  fill-opacity: 0;
  stroke: #8e8e8e;
  stroke-width: 1;
}

.electron {
  fill: #8e8e8e;
}

.electronAnimation {
  animation: electron-clockwise 1s infinite linear;
  transform-origin: 50% 50%;
}

@keyframes electron-clockwise {
  100% {
    transform: rotate(360deg);
  }
}
/*blender*/
.blender {
  width: 264px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.blender h2, .blender h3 {
  color: #8e8e8e;
}

.fa-blender {
  font-size: 96px;
  color: #42a5f5;
}

.fa-blender:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -4px) rotate(-1deg);
  }
  20% {
    transform: translate(-6px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(6px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 4px) rotate(-1deg);
  }
  60% {
    transform: translate(-6px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(6px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -4px) rotate(-1deg);
  }
}
/*clock*/
.clock {
  background-color: #e5f4ff;
  width: 264px;
  height: 236px;
  margin-bottom: 16px;
}

.clock-face {
  fill: #ffffff;
  stroke: #f5f5f5;
  stroke-width: 2;
}

.clock-hour-hand {
  stroke: #8e8e8e;
  stroke-width: 12;
  stroke-linecap: round;
  animation: clockwise 43200s infinite linear;
}

.clock-minute-hand {
  stroke: #8e8e8e;
  stroke-width: 6;
  stroke-linecap: round;
  animation: clockwise 3600s infinite linear;
}

.clock-second-hand {
  stroke: #ff6584;
  stroke-width: 3;
  stroke-linecap: round;
  animation: clockwise 60s infinite linear;
}

.clockwise {
  transform-origin: 50% 50%;
}

@keyframes clockwise {
  100% {
    transform: rotate(360deg);
  }
}
/* games */
/* whack */
#totalCountdown {
  display: none;
}

.mole-holes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.mole-hole {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 96px;
  height: 80px;
  margin: 8px 16px;
}

.mole-hole img {
  width: 100%;
}

.mole-head {
  line-height: 0;
}

/* navigation */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 32px;
}
.nav__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 32px;
}
.nav__left a {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
.nav__right {
  display: flex;
  align-items: flex-end;
}
.nav__right a {
  margin-left: 32px;
}

/* project */
.proj {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;
}

.proj-desc {
  width: 192px;
  margin-bottom: 32px;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.proj-item-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px;
  height: 320px;
  padding: 16px;
}

.proj-item-sm:nth-child(-n+2) {
  margin: 0 16px 16px 0;
}

.proj-item-md {
  width: 608px;
  height: 320px;
  padding: 16px;
}

.proj-contents-left {
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}

.proj-contents-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}

.proj-img-x-lrg {
  width: 296px;
  height: 320px;
}

.proj-img-lrg {
  height: 288px;
}

.proj-img-md {
  height: 236px;
  margin-bottom: 16px;
}

.proj-img-sm {
  height: 196px;
  margin-bottom: 16px;
}

.proj-img-xsm {
  height: 100px;
  margin-bottom: 16px;
}

.bg-color-default {
  background-color: #f5f5f5;
}

.bdr-color-default {
  border: 2px solid #f5f5f5;
}

/* about */
.about-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.about-header-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 48px 32px 32px;
}

.about-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  word-wrap: anywhere;
  padding: 48px 32px 32px;
}

.about-header-name {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.about-content {
  display: flex;
}

.about-content section {
  width: 50%;
  padding: 32px;
}

.about-content section:nth-child(1) {
  border-left: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

.about-content section:nth-child(2) {
  background-color: #e5f4ff;
}

.about-content div {
  margin-bottom: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #202020;
}

body {
  max-width: 1232px;
  padding: 0 32px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
