@use 'styles/atoms/avatar';
@use 'styles/atoms/button';
@use 'styles/atoms/divider';
@use 'styles/atoms/input__field';
@use 'styles/atoms/input__field-label';
@use 'styles/atoms/input__field-type';
@use 'styles/atoms/list';
@use 'styles/atoms/icon';
@use 'styles/atoms/tag';
@use 'styles/atoms/typography';
@use 'styles/atoms/underline';
@use 'styles/molecules/button-container';
@use 'styles/organisms/header';
@use 'styles/molecules/input-container';
@use 'styles/molecules/icon-container';
@use 'styles/molecules/tags';
@use 'styles/organisms/animations';
@use 'styles/organisms/games';
@use 'styles/organisms/navigation';
@use 'styles/organisms/projects';
@use 'styles/pages/about';
@use 'styles/variables';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 32px;
  font-family: variables.$font-family-primary;
  color: variables.$primary-main-color;
}

body {
  max-width: 1232px;
  padding: 0 32px;
  margin: 0 auto;
}
