/* avatar */
.avatar--size--md {
  height: 112px;
  margin-bottom: 8px;
}
.avatar--size--sm img {
  width: 32px;
  margin: 8px 4px;
}

/* button */
.button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  padding: 8px 16px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  font-weight: 600;
}
.button:active {
  font-weight: 600;
}
.button:disabled {
  color: #8e8e8e;
}
.button--state--default {
  background-color: #ffffff;
}
.button--state--positive {
  background-color: #ecffe6;
}
.button--state--neutral {
  background-color: #e5f4ff;
}
.button--state--negative {
  background-color: #fcf2ff;
}

/* divider */
.divider {
  border: 1px solid #f5f5f5;
  margin-bottom: 96px;
}

/* icon */
.icon {
  height: 24px;
  padding-right: 8px;
}

/* input field */
.input__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* input label */
.input__field-label {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  text-align: left;
}

/* input type */
.input__field-type {
  width: 124px;
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}
.input__field-type[type=text]:disabled {
  color: #8e8e8e;
}
.input__field-type[type=number] {
  text-align: right;
}
.input__field-type[type=number]:disabled {
  color: #8e8e8e;
}

/* list */
.list {
  padding-left: 32px;
  margin: 0;
}

/* tag */
.tag {
  font-size: 0.4375rem;
  font-weight: 400;
  padding: 8px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  margin: 0 8px 24px 0;
}

/* typography */
h1, h2, h3, h4, h5, p, li, a {
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h3 {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-bottom: 16px;
}

h5 {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
  font-style: italic;
  margin-bottom: 16px;
}

p {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
  margin-bottom: 16px;
}

li {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
}

a {
  font-size: 0.5rem;
  font-weight: 500;
  color: #202020;
  text-decoration: none;
}
a:hover {
  color: #ff6584;
}
a:active {
  color: #c72F58;
}

/* underline */
.underline {
  width: 32px;
  border: 2px solid #c72F58;
  margin: 12px 0 24px;
}

/* button-container */
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

/* icon-container */
.icon-container {
  padding-bottom: 16px;
}

/* input-container */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 196px;
  margin-bottom: 16px;
}

/* tag-container */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* animations */
/* atom */
.atom {
  background-color: #ffffff;
  width: 264px;
  height: 236px;
  margin-bottom: 16px;
}
.atom__nucleus {
  fill: #ff6584;
}
.atom__electron {
  fill: #8e8e8e;
}
.atom__electron--path-one {
  fill-opacity: 0;
  stroke: #8e8e8e;
  stroke-width: 1;
}
.atom__electron--path-two {
  fill-opacity: 0;
  stroke: #8e8e8e;
  stroke-width: 1;
}
.atom__electron--animation {
  animation: atom__electron--animation-clockwise 1s infinite linear;
  transform-origin: 50% 50%;
}

@keyframes atom__electron--animation-clockwise {
  100% {
    transform: rotate(360deg);
  }
}
/* blender */
.blender {
  width: 264px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.blender__title {
  color: #8e8e8e;
}
.blender__subtitle {
  color: #8e8e8e;
}
.blender__image .fa-blender {
  font-size: 96px;
  color: #42a5f5;
}
.blender__image .fa-blender:hover {
  animation: blender__image--animation 0.3s;
  animation-iteration-count: infinite;
}

@keyframes blender__image--animation {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -4px) rotate(-1deg);
  }
  20% {
    transform: translate(-6px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(6px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 4px) rotate(-1deg);
  }
  60% {
    transform: translate(-6px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(6px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -4px) rotate(-1deg);
  }
}
/* clock */
.clock {
  background-color: #e5f4ff;
  width: 264px;
  height: 236px;
  margin-bottom: 16px;
}
.clock__face {
  fill: #ffffff;
  stroke: #f5f5f5;
  stroke-width: 2;
}
.clock__hand-hour {
  stroke: #8e8e8e;
  stroke-width: 12;
  stroke-linecap: round;
  animation: clockwise 43200s infinite linear;
}
.clock__hand-minute {
  stroke: #8e8e8e;
  stroke-width: 6;
  stroke-linecap: round;
  animation: clockwise 3600s infinite linear;
}
.clock__hand-second {
  stroke: #ff6584;
  stroke-width: 3;
  stroke-linecap: round;
  animation: clockwise 60s infinite linear;
}
.clockwise {
  transform-origin: 50% 50%;
}

@keyframes clockwise {
  100% {
    transform: rotate(360deg);
  }
}
/* games */
/* whack */
.mole-hole-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.mole-hole {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 96px;
  height: 80px;
  margin: 8px 16px;
}
.mole-hole img {
  width: 100%;
}
.mole-hole__head {
  line-height: 0;
}

/* header */
.header {
  border-left: 4px solid #c72F58;
  padding-left: 16px;
  margin-bottom: 64px;
}
.header h2 {
  line-height: 0.75rem;
}

/* navigation */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 32px;
}
.nav__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 32px;
}
.nav__left a {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
@media (max-width: 991px) {
  .nav__left {
    display: none;
  }
}
.nav__right {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.nav__right a {
  margin-left: 32px;
}
@media (max-width: 575px) {
  .nav__right {
    flex-direction: column;
    justify-content: space-between;
  }
}

/* project */
.proj {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;
}
.proj__overview {
  width: 192px;
  margin-bottom: 32px;
}
@media (max-width: 1231px) {
  .proj__overview {
    width: 100%;
  }
}
.proj__desc {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}
.proj__desc-item--size--sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px;
  height: 320px;
  padding: 16px;
}
@media (max-width: 991px) {
  .proj__desc-item--size--sm {
    width: 100%;
  }
}
.proj__desc-item--size--sm:nth-child(-n+2) {
  margin: 0 16px 16px 0;
}
@media (max-width: 991px) {
  .proj__desc-item--size--sm:nth-child(-n+2) {
    margin: 0 0 16px 0;
  }
}
.proj__desc-item--size--md {
  width: 608px;
  height: 320px;
  padding: 16px;
}
@media (max-width: 991px) {
  .proj__desc-item--size--md {
    width: 100%;
    height: auto;
  }
}
.proj__desc-item--color--filled {
  background-color: #f5f5f5;
}
.proj__desc-item--color--outlined {
  border: 2px solid #f5f5f5;
}
.proj__desc-item--alignment--left {
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}
.proj__desc-item--alignment--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}
.proj__desc-item--img-size-xsm {
  height: 100px;
  margin-bottom: 16px;
}
.proj__desc-item--img-size-sm {
  height: 196px;
  margin-bottom: 16px;
}
.proj__desc-item--img-size-md {
  height: 236px;
  margin-bottom: 16px;
}
.proj__desc-item--img-size-lg {
  height: 288px;
}
.proj__desc-item--img-size-xlg {
  width: 296px;
  height: 320px;
}

/* about */
.about-header {
  display: flex;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  .about-header {
    flex-direction: column-reverse;
  }
}
.about-header__left {
  width: 70%;
  padding: 48px 32px 32px;
}
@media (max-width: 767px) {
  .about-header__left {
    width: 100%;
    padding: 0 32px 32px;
  }
}
.about-header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  word-wrap: anywhere;
  padding: 48px 32px 32px;
}
@media (max-width: 767px) {
  .about-header__right {
    width: 100%;
    align-items: flex-start;
  }
}
.about-header__right-name {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.about-content {
  display: flex;
}
@media (max-width: 767px) {
  .about-content {
    flex-direction: column;
  }
}
.about-content__section {
  width: 50%;
  padding: 32px;
}
@media (max-width: 767px) {
  .about-content__section {
    width: 100%;
  }
}
.about-content__section:nth-child(1) {
  border-left: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
@media (max-width: 767px) {
  .about-content__section:nth-child(1) {
    border-bottom: none;
    border-right: 2px solid #f5f5f5;
  }
}
.about-content__section:nth-child(2) {
  background-color: #e5f4ff;
}
.about-content__section-div {
  margin-bottom: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #202020;
}

body {
  max-width: 1232px;
  padding: 0 32px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
