@use '../abstracts';

/* about */
.about-header {
  display: flex;
  background-color: abstracts.$primary-light-color;

  &__left {
    width: 70%;
    padding: 48px 32px 32px;

    @include abstracts.mobile {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    word-wrap: anywhere;
    padding: 48px 32px 32px;
  }

  &__right-name {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.about-content {
  display: flex;

  &__section {
    width: 50%;
    padding: 32px;

    &:nth-child(1) {
      border-left: 2px solid abstracts.$primary-light-color;
      border-bottom: 2px solid abstracts.$primary-light-color;
    }

    &:nth-child(2) {
      background-color: abstracts.$tertiary-light-color;
    }
  }

  &__section-div {
    margin-bottom: 32px;
  }
}
