/* Error: There's already a module with namespace "index".
 *   ,
 * 2 | @use "styles/atoms/index";
 *   | ========================= original @use
 * 3 | @use "styles/molecules/index";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *   '
 *   styles.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"index\".\a   \2577 \a 2 \2502  @use \"styles/atoms/index\";\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a 3 \2502  @use \"styles/molecules/index\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a   \2575 \a   styles.scss 3:1  root stylesheet";
}
