@use "styles/abstracts/index" as *;
@use "styles/atoms/index";
@use "styles/molecules/index";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 32px;
  font-family: $font-family-primary;
  color: $color-base;
}

body {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 32px;
  background-color: $color-primary-dark;
}
