/* font-families */
$font-family-primary: "Poppins", sans-serif;

/* colors */
$color-primary-main: #202020;
$color-primary-light: #f5f5f5;
$color-primary-dark: #8e8e8e;

$color-secondary-main: #ff6584;
$color-secondary-light: #fcf2ff;
$color-secondary-dark: #c72F58;

$color-tertiary-main: #42a5f5;
$color-tertiary-light: #e5f4ff;
$color-tertiary-dark: #003c8f;

$color-quaternary-light: #ecffe6;

$color-base: #ffffff;
