@use '../abstracts' as *;

/* button */
.button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  padding: 8px 16px;
  border: 1px solid $primary-dark-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }

  &:active {
    font-weight: 600;
  }

  &:disabled {
    color: $primary-dark-color;
  }

  &--state--default {
    background-color: $generic-color;
  }

  &--state--positive {
    background-color: $quaternary-light-color;
  }

  &--state--neutral {
    background-color: $tertiary-light-color;
  }

  &--state--negative {
    background-color: $secondary-light-color;
  }
}
