@use '../abstracts/variables';

/* button */
.button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  padding: 8px 16px;
  border: 1px solid variables.$primary-dark-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }

  &:active {
    font-weight: 600;
  }

  &:disabled {
    color: variables.$primary-dark-color;
  }

  &--state--default {
    background-color: variables.$generic-color;
  }

  &--state--positive {
    background-color: variables.$quaternary-light-color;
  }

  &--state--neutral {
    background-color: variables.$tertiary-light-color;
  }

  &--state--negative {
    background-color: variables.$secondary-light-color;
  }
}
