@use '../abstracts' as *;

/* input type */
.input__field-type {
  width: 124px;
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: $color-base;
  padding: 8px 16px;
  border: 1px solid $color-primary-dark;
  border-radius: 4px;

  &[type=text]:disabled {
    color: $color-primary-dark;
  }

  &[type=number] {
    text-align: right;
  }

  &[type=number]:disabled {
    color: $color-primary-dark;
  }
}
