@use '../variables';

/* button */
.button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: variables.$generic-color;
  padding: 8px 16px;
  border: 1px solid variables.$primary-dark-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }

  &:active {
    font-weight: 600;
  }

  &:disabled {
    color: variables.$primary-dark-color;
  }

  &--positive {
    background-color: variables.$quaternary-light-color;
  }

  &--negative {
    background-color: variables.$secondary-light-color;
  }
}
