@use '../variables';

/* button */
button {
  font-size: 0.4375rem;
  font-weight: 500;
  line-height: 0.5625rem;
  background-color: variables.$generic-color;
  padding: 8px 16px;
  border: 1px solid variables.$primary-dark-color;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  font-weight: 600;
}

button:active {
  font-weight: 600;
}

button:disabled {
  color: variables.$primary-dark-color;
}

.button-positive {
  background-color: #ecffe6;
}

.button-neutral {
  background-color: #e5f4ff;
}

.button-negative {
  background-color: #fcf2ff;
}
