@use './variables';

/* divider */
hr {
  border: 1px solid variables.$primary-light-color;
  margin-bottom: 96px;
}

.underline {
  width: 32px;
  border: 2px solid variables.$secondary-light-color;
  margin: 8px 0 16px;
}
