@use '../variables';
/* tag */
.tag {
  font-size: 0.4375rem;
  font-weight: 400;
  padding: 8px;
  background-color: variables.$primary-light-color;
  border: none;
  border-radius: 4px;
  margin: 0 12px 12px 0;
}
