@use '../abstracts' as *;

/* navigation */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 32px;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 32px;

    & a {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1rem;
    }

    @include xs-screen {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    & a {
      margin-left: 32px;
    }
  }
}
