@use '../abstracts' as *;

/* tools */
.cal {
  width: 208px;
  height: 288px;
  padding: 16px;
  border: 1px solid $primary-dark-color;
  border-radius: 16px;
  background-color: $generic-color;

  &__result {
    text-align: right;
    overflow: hidden;
    direction: rtl;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__btn {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 0.4375rem;
    font-weight: 500;
    line-height: 0.5625rem;
    border: 1px solid $primary-dark-color;
    margin: 4px;
    cursor: pointer;

    &--size--sm {
      width: 32px;
      justify-content: center;
      padding: 8px 16px;
      border-radius: 50%;
    }

    &--size--md {
      width: 78px;
      justify-content: start;
      padding: 8px 16px 8px 12px;
      border-radius: 32px;
    }

    &--state--number {
      background-color: $generic-color;
    }

    &--state--all-clear {
      background-color: $secondary-light-color;
    }

    &--state--math {
      background-color: $tertiary-light-color;
    }

    &--state--equals {
      background-color: $quaternary-light-color;
    }
  }
}
