@use '../variables';

/* project */
.proj {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;
}

.proj-desc {
  width: 192px;
  margin-bottom: 32px;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.proj-item-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px;
  height: 320px;
  padding: 16px;
}

.proj-item-sm:nth-child(-n+2) {
  margin: 0 16px 16px 0;
}

.proj-item-md {
  width: 608px;
  height: 320px;
  padding: 16px;
}

.proj-contents-left {
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}

.proj-contents-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 196px;
  margin-bottom: 16px;
}

.proj-img-x-lrg {
  width: 296px;
  height: 320px;
}

.proj-img-lrg {
  height: 288px;
}

.proj-img-md {
  height: 236px;
  margin-bottom: 16px;
}

.proj-img-sm {
  height: 196px;
  margin-bottom: 16px;
}

.proj-img-xsm {
  height: 100px;
  margin-bottom: 16px;
}

.bdr-color-default {
  border: 2px solid variables.$primary-light-color;
}