//font-families
$font-family-primary: "Poppins", sans-serif;

//colors
$primary-main-color: #202020;
$primary-light-color: #f5f5f5;
$primary-dark-color: #8e8e8e;

$secondary-main-color: #ff6584;
$secondary-light-color: #fcf2ff;
$secondary-dark-color: #c72F58;

$tertiary-main-color: #42a5f5;
$tertiary-light-color: #e5f4ff;
$tertiary-dark-color: #003c8f;

$generic-color: #ffffff;
